* { 
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
   }
   body{
     background-color: #AEDEFC;
   }
 .items-container{ 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around;
  margin: 10px; 
 } .card { 
  background:#FFDFDF; 
  font-size: 12px;
 color: rgb(68, 68, 68);
  margin: 10px;
  padding: 30px;
  transition: 1s ease;
  cursor: pointer; 
  } 
  .card:hover 
  {
  transform: scale(1.1);
  } 
 .content {
 display: flex;
 justify-content: space-between;
  font-family: sans-serif;
 margin-top: 20px; 
 } 
 p {
  font-weight: bold; 
 }
 img{
      border-radius: 5px;
 height: 200px; 
 width: 300px; 
 }
 
 .navbar-brand{
     font-family: sans-serif;
     font-size: 1.3rem;
     color: rgb(68, 68, 68);
 
 }
 
 
 .navbar {
     background-color:#F875AA !important;
   } 
 
   .btn{
     background-color: #FFF6F6;
     color : rgb(68, 68, 68)
   }
   .btn:hover{
     background-color: #e17878;
     /* color: #AEDEFC; */
     border-color: #AEDEFC;
   }
 
  